<h1>Witaj w matmie!</h1>
<h2>Zbieraj punkty za dobre rozwiązania!</h2>

<div class="container">
  <div class="jumbotron">
    <p>Wybierz, co chcesz poćwiczyć:</p>
      <ul>  
        <li><%= link_to "Tabliczka mnożenia", tabliczka_path %></li>
        <li><%= link_to "Ułamki dziesiętne", dzialanie_path %></li>
        <li><%= link_to "Przeliczanie jednostek", jednostki_path %></li>
        <li><%= link_to "Zaokrąglanie liczb naturalnych", zaokraglanie_liczb_naturalnych_path %></li>
      </ul>
  </div>
</div>

