<% provide(@wynik) %>

<h1>Ćwiczenia z matematyki</h1>
<h2>Sprawdzamy wynik... </h2>
<div class="container">
  <div class="jumbotron">
      <p>
        <%= sprawdz %>
        <br/>
      </p>
      <%= wstaw_guzik %>
      
  </div>
 
</div>