<% provide(@wynik) %>
<h1>Ćwiczenia z matematyki</h1>
<h2>Działamy na ułamkach dziesiętnych! </h2>
<div class="container">
  <div class="jumbotron">
      <p>
        <%= sprawdz %>
        <br/>
      </p>
      
       <a href="/dzialanie" classtype="button" class="btn btn-info" value="Input Button">Gram dalej</a>
  </div>
 
</div>