<header class="navbar navbar-fixed-top navbar">
  <div class="container">
   <a class="navbar-brand" href="https://cocomonkeyblog.files.wordpress.com/" id="logo">
        <img alt="CocoMonkey logo" src="https://cocomonkeyblog.files.wordpress.com/2017/07/cropped-krzywe-2-monkey1.png?w=1024&h=228" style="width:366px;height:82px;border:0;>
      </a>
   
   
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "O SZKOLE", "https://cocomonkeyblog.wordpress.com/about/" %></li>
        <li><%= link_to "CENNIK", "https://cocomonkeyblog.wordpress.com/cennik/" %></li>
        <li><%= link_to "KONTAKT", "https://cocomonkeyblog.wordpress.com/contact/" %></li>
        <li><%= link_to "BLOG", "https://cocomonkeyblog.wordpress.com/blog/" %></li>
        <li><%= link_to "ĆWICZENIA", root_path %></li>
       
       <!-- to jest dropdown
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ĆWICZENIA</a>
          <ul class="dropdown-menu" role="menu">

            <li><%= link_to "Tabliczka mnożenia", tabliczka_path %></li>
            <li><%= link_to "Ułamki dziesiętne", dzialanie_path %></li>
            <li><%= link_to "Przeliczanie jednostek", jednostki_path %></li>
            
            
          </ul>
        </li>
        
        //-->
        
      </ul>
    </nav>
  </div>
</header>