<header>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
     
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://cocomonkeyblog.files.wordpress.com/" id="logo"> <img src="https://cocomonkeyblog.files.wordpress.com/2017/07/cropped-krzywe-2-monkey1.png?w=1024&h=228" alt="CocoMonkey logo" style="width:366px;height:82px;border:0"></a>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
        <ul class="nav navbar-nav">
          <li><%= link_to "O SZKOLE", "https://cocomonkeyblog.wordpress.com/about/" %></li>
          <li><%= link_to "CENNIK", "https://cocomonkeyblog.wordpress.com/cennik/" %></li>
          <li><%= link_to "KONTAKT", "https://cocomonkeyblog.wordpress.com/contact/" %></li>
          <li><%= link_to "BLOG", "https://cocomonkeyblog.wordpress.com/blog/" %></li>
          <li><%= link_to "ĆWICZENIA", root_path %></li>
         
        </ul>
     
    </div>
  </div>
  </nav>
</header>